<div class="row">
  <div class="col-md-6">
    <p>
      Todays health index: {{view.HIToday | number:0}}
    </p>
    <p>
      Todays calories: Placeholder
    </p>
  </div>
  <div class="col-md-6">
    <h2>Todays Meals</h2>
    <div class="row" ng-repeat="meal in view.todayMeals">
      <div class="col-md-6">
        <p>
          {{meal.item_name}}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{meal.health_index}}
        </p>
      </div>
    </div>
    <a href="#/search" class="btn btn-default">Add new meal</a>
  </div>
  </div>
</div>
<nvd3 options="options" data="data"></nvd3>
