<div ng-controller="ItemController">
  <h1>{{view.itemDetail.item_name}}</h1>
  <table class="table ">
    <tr >
      <td>
        <button type="button" data-toggle="modal" data-target="#mealSubmitModal" class="btn btn-default">
          Add meal!
        </button>
      </td>
      <td>
        {{view.itemDetail.brand_name}}
      </td>
      <td>
        {{view.itemDetail.item_name}}
      </td>
      <td>
        Description {{view.itemDetail.item_description}}
      </td>
      <td>
        fats: {{view.itemDetail.nf_total_fat}} grams
      </td>
      <td>
        <p>
          Cal: {{view.itemDetail.nf_calories}}
        </p>
        <p>
          Cal from fat: {{view.itemDetail.nf_calories_from_fat}}
        </p>

      </td>
    </tr>
  </table>
  <div class="modal fade" id="mealSubmitModal" tabindex="-1">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="">Date and time</label>
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownDate" role="button" data-toggle="dropdown" data-target="#" href="">
                <div class="input-group"><input type="text" class="form-control" ng-model="view.submitData.mealDateTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="view.submitData.mealDateTime" data-datetimepicker-config="{ dropdownSelector: '#dropdownDate' }"/>
              </ul>
            </div>
            <p class="help-block">Select date, then time.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save meal</button>
      </div>
    </div>
  </div>
  </div>
</div>
