<div ng-controller="IndexController">
  <div class="jumbotron text-center">
    <h1>Search<small>Foods</small></h1>

    <div class="input-group">
      <input class="form-control" ng-model="view.query" type="text" name="search">
      <span class="input-group-btn">
        <button ng-click="view.searchNx(view.query)" class="btn btn-success" type="button" name="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <table class="table table-hover">
    <tr ng-repeat="item in view.results">
      <td>
        <a ng-href="#/item?itemId={{item._id}}">details</a>
      </td>
      <td>
        {{item.fields.brand_name}}
      </td>
      <td>
        {{item.fields.item_name}}
      </td>
      <td>
        {{item.fields.item_description}}
      </td>

      <td>
        Fat: {{item.fields.nf_total_fat}}
      </td>
      <td>
        Cal: {{item.fields.nf_calories}}
      </td>
    </tr>
  </table>
</div>
